a:hover {
  color: #10b3d6;
}
.h2, h2{
  font-size: 1.75em !important;
  font-weight: 600;
  margin-bottom: 1em;
}
.h3, h3{
  font-size: 1.75em !important;
  font-weight: 400;
  margin-bottom: 1em;
}
.toc-anchor.before {
  margin-left: -24px;
  padding-right: 8px;
  transition: all 0.2s ease-in;
}
.form-group {
  margin-bottom: 0rem;
}
.form-control {
  background-color: #fff0;
  border: none;
  border-bottom: 1px solid #ced4daad;
  border-radius: none;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.search-item {
  margin-left: 0px;
  margin-bottom: 50px;
  margin-top: 50px;
}
.form-control:focus {
  color: #495057;
  background-color: #fff0;
  border-color: #80bdff00;
  border-bottom: 1px solid #ffffff2e;
  outline: 0;
  box-shadow: none;
}
:hover > .toc-anchor, .toc-anchor:focus {
  opacity: 1;
}
.list-group-item{
  transition: all 0.3s ease-in-out;
}
.list-group-item:hover{
  transform: translate3d(5px, 0, 0);
}
.list-group .list-group-item > a{
  color: #1d2746;
}
.list-group .list-group-item > a:hover{
  color: #10b3d6;
}
.body_dark .list-group .list-group-item > a{
  color: #c7c9d3;
}
.body_dark .list-group .list-group-item > a:hover{
  color: #10b3d6;
}
.card-header {
  padding: 0.75rem 3.25rem;
  margin: 5px -30px;
  background-color: transparent;
  border-bottom: 1px solid rgba(0,0,0,.125);
}
.body_dark .card-header{
  border-bottom: 1px solid #c7c9d324;
}
.body_dark .section.bg-gray{
  background-color: #171923;
}

.custom-card .media .media-body > p {
  color:#6b707f;
}
.body_dark .custom-card .media .media-body > p{
  color:#c7c9d3;
}
.body_dark .custom-card .theme_doc_item {
  background-color:#12141c!important;
}
.body_dark .custom-card .theme_doc_item:hover {
  box-shadow: 0 16px 30px 0 rgb(4 73 89 / 28%);
}

div.code-toolbar > .toolbar a:hover,
div.code-toolbar > .toolbar a:focus,
div.code-toolbar > .toolbar button:hover,
div.code-toolbar > .toolbar button:focus,
div.code-toolbar > .toolbar span:hover,
div.code-toolbar > .toolbar span:focus {
	color: aliceblue;
	text-decoration: none;
}

/* Margin bottom to accommodate shadow */
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background-color: transparent;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 1em;
}

div.code-toolbar > .toolbar a,
div.code-toolbar > .toolbar button,
div.code-toolbar > .toolbar span {
	color: #bbb;
	font-size: .8em;
	padding: 3px 0.7em;
	background: #f5f2f0;
	background: rgba(224, 224, 224, 0.2);
	box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
	border-radius: .5em;
}

div.code-toolbar > .toolbar {
	position: absolute;
	top: .3em;
	right: .7em;
	transition: opacity 0.3s ease-in-out;
	opacity: 0;
}

div.code-toolbar > .toolbar .toolbar-item {
	display: inline-block;
  margin-right: 5px;
}
code[class*="language-"],
pre[class*="language-"] {
	color: #e7e8f2;
}

pre[class*="language-"]>code {
  position: relative;
  border-left: 5px solid #04589b;
  padding: 15px 20px;
  box-shadow: 0px 3px 6px 0px rgb(4 73 89 / 6%);
  background-color: #252a37;
  border-radius: 7px;
  background-image: none;
  background-size: 3em 3em;
  background-origin: content-box;
  background-attachment: local;
  margin: 15px 0px 40px;
}

.token.operator, .token.entity, .token.url, .token.variable {
  color: #a67f59;
  background: none;
}
.gradient-bg{
  background: #171923,#12141c,rgba(18,20,28,0)!important;
}
.p-name > a{
  color:#10b3d6 !important;
}
.search-wrapper .search-input {
  width: 80%;
  display: inline-block;
  border: none;
  border-bottom: 1px solid grey;
  background: transparent;
}
.full-width{
  width:100% !important;
}
.borders{
  border-top-right-radius: 0.25rem !important;
  border-bottom-right-radius: 0.25rem !important;
}
