<div class="col-lg-8 col-md-8">
    <div class="documentation_info">
        {% if not hero_image_name %}
            <div class="content-title text-center">
                {% include 'partials/blog/title.html.twig' with {title_level: 'h2'} %}
                {% if page.header.subtitle %}
                <h3 >{{ page.header.subtitle }}</h3>
                {% endif %}
            </div>
        {% endif %}
                {{ page.content|raw }}
            {% if page.header.continue_link is same as(true) and config.plugins.comments.enabled %}
                {% include 'partials/comments.html.twig' %}
        {% endif %}
    </div>
</div>
