<div class="container-fluid pl-60 pr-60">
    <div class="row">
        {% if show_sidebar %}
            {% block left_sidebar %}{% endblock %}
        {% endif %}

        {% block item %}{% endblock %}


        {% if show_sidebar %}
            {% block right_sidebar %}{% endblock %}
        {% endif %}

        {% block NEXT_POST %}{% endblock %}
    </div>
</div>


