<div class="container-fluid pl-60 pr-60">
    <div class="row">
        {% if show_sidebar %}
            {% block sidebar %}{% endblock %}
        {% endif %}

        {% block item %}{% endblock %}
    </div>
</div>


