{% set placeholder = placeholder|default('Search...') %}
{% set options = { uri: url, limit: limit, snippet: snippet, min: min, in_page: in_page, live_update: live_update, search_type: search_type } %}

<section class="page_breadcrumb">
    <div class="container-fluid pl-60 pr-60">
        <div class="row">
            <div class="col-lg-2 col-sm-7">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                    {% include 'partials/logo.html.twig' %}
                    </ol>
                </nav>
            </div>
            <div class="col-lg-7 col-md-8">
                {% include 'partials/simplesearch-custom.html.twig' %}
            </div>
            <div class="col-lg-2 col-sm-5">
                <div class="row justify-content-end">
                    <a href="https://blog.corebos.org/" target="_blank" style="margin-right: 10px;" class="btn btn-info display-none">
                        <i style="padding-right: 7px;" class="icon_clock_alt"></i>
                        Updates
                    </a>
                    <a href="https://github.com/tsolucio/corebos" target="_blank" style="margin-right: 10px;" class="btn btn-dark display-none">
                        <i class="fab fa-github"></i>
                    </a>
                    <button id="bttn" class="btn btn-dark display-none" onclick="darkModeToggle()"><i id="id" class="fa fa-moon"></i></button>
                </div>
            </div>
        </div>
    </div>
    <script>
        function darkModeToggle() {
            var element = document.body;
            element.classList.toggle("body_dark");

            const icon = document.querySelector('#id');
            if (icon.classList.contains('fa-moon')) {
                icon.classList.remove('fa-moon');
                icon.classList.add('fa-lightbulb');
            } else {
                icon.classList.remove('fa-lightbulb');
                icon.classList.add('fa-moon');
            }
            const button = document.querySelector('#bttn')
            if (button.classList.contains('btn-dark')) {
                button.classList.remove('btn-dark');
                button.classList.add('btn-info');
            } else {
                button.classList.remove('btn-info');
                button.classList.add('btn-dark');
            }
        }
    </script>
</section>


