<div class="col-lg-2 col-md-4 doc_right_mobile_menu">
    <div class="open_icon" id="right">
        <i class="arrow_carrot-left"></i>
        <i class="arrow_carrot-right"></i>
    </div>
    <div class="doc_rightsidebar scroll">

        <div class="doc_switch">
            <label for="something" class="tab-btn tab-btns"><i class="icon_lightbulb_alt"></i></label>
            <input type="checkbox" name="something" id="something" class="tab_switcher">
            <label for="something" class="tab-btn"><i class="far fa-moon"></i></label>
        </div>

        <!-- <select id="mySelect" name="os">
            <option value="windows" data-content="<i class='fab fa-windows'></i> Windows">Windows</option>
            <option value="ios" data-content="<i class='fab fa-apple'></i> Ios">Ios</option>
            <option value="linux" data-content="<i class='fab fa-linux'></i> Linux">Linux</option>
        </select> -->

        <div id="font-switcher" class="d-flex justify-content-between align-items-center">
            <div id="rvfs-controllers" class="fontsize-controllers group"></div>
            <a href="javascript:window.print()" class="print"><i class="icon_printer"></i></a>
        </div>
        <br>

        <h6>On this page:</h6>
        <nav class="list-unstyled doc_menu" id="navbar-example3">
            <a href="#documentation" class="nav-link active">Documentation</a>
            <a href="#getting" class="nav-link">Getting started</a>
            <a href="#version" class="nav-link">Test coreBOS Version</a>
            <a href="#developer" class="nav-link">Not a developer?</a>
            <a href="#help" class="nav-link">We're here to help!</a>
        </nav>
    </div>
</div>
